<h1 class="welcome" >Welcome to</h1>
<div class="row">
  <div class="span12">
    <%= image_tag 'MA-simple.png', class: "main-logo", alt: "Logo" %>
  </div>

  <div class="span12">
    <%= link_to "Sign Up", new_brand_registration_path, class: "btn btn-large btn-primary" %>
  </div>
</div>